export BUILD_BASH_VERSION=3.2.57
export BUILD_BASH_VERSION=4.2
export BUILD_BASH_VERSION=4.0
export BUILD_BASH_VERSION=4.3
export BUILD_BASH_VERSION=4.4
export BUILD_BASH_VERSION=5.1
export BUILD_BASH_VERSION=5.1.8
#export BUILD_BASH_VERSION=3.2
