export BUILD_BASH_VERSION=3.2.57
export BUILD_BASH_VERSION=4.2
export BUILD_BASH_VERSION=4.0
export BUILD_BASH_VERSION=4.3
export BUILD_BASH_VERSION=4.4
export BUILD_BASH_VERSION=5.1
export BUILD_BASH_VERSION=5.1.8
#export BUILD_BASH_VERSION=3.2

D=$(pwd)/RELEASE/lib
if [[ "$LD_LIBRARY_PATH" != "" ]]; then
  >&2 ansi --red --bold "Changing LD_LIBRARY_PATH | $LD_LIBRARY_PATH=>$D"
fi

export LD_LIBRARY_PATH=$D

>&2 ansi --yellow --italic "$LD_LIBRARY_PATH"
